{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center">
    {% load static %}
    <img src="{% static 'images/background.webp' %}" />
</div>
<div class="about-us">
    <h2 class="text-center">About Us</h2>
    <p>Welcome to our chatbot system! Our chatbot is designed to answer your questions on a wide range of topics. Whether you're looking for information, need assistance, or just want to chat, our chatbot is here to help.</p>
    <p>Simply type your question or message into the chatbox, and our chatbot will provide you with a response. Feel free to ask anything you'd like, and our chatbot will do its best to assist you.</p>
</div>
{% endblock content %}
